* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    background-color: skyblue;
    width: 30%;
    height: 100vh;
}

.dashboard h1 {
    text-align: center;
    transform: translate(130%);
    font-size: 3vw;
}

.img {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    position: absolute;
}

.option li {
    transform: translate(20%, 700%);
    list-style: none;
    margin-top: 9px;
    font-size: 43px;

}
.option li:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.dashboard table {
    text-transform: capitalize;
    border-radius: 1px;
    border-style: none;
    background-color: rgb(105, 167, 12);
    transform: translate(60%, -500%);
    width: 200%;
}